* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  color: white !important;
}

body {
  background: linear-gradient(#60a6a0, #3c4798, #2b2d6c, #b94247);
}

#app {
  min-height: 100vh;
  background: rgba(255, 255, 255, .8);   
}

.navbar {
  height: 10%;
}